____AI_Powered_Sustainability_Newsletter_for_Marketing_with_Gmail__GPT_4o.json
{
  "name": "🗞️ AI-Powered Sustainability Newsletter for Marketing with Gmail, GPT-4o",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7f8ac804-088d-4dfa-a661-8b6b09a6e340",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $now.minus(5,\"day\").day }} {{ $now.minus(5,\"day\").monthLong }} {{ $now.minus(5,\"day\").year }}"
            },
            {
              "id": "094bd21e-1d23-4f06-a286-501045a53c9b",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.type }}",
              "rightValue": "News article"
            }
          ]
        },
        "options": {}
      },
      "id": "10d2d97d-428e-4224-beae-e4ce4e090e4f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1540,
        780
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "968fac7c-48be-4fe1-a1d0-3c1fd828b0bc",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1960,
        760
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Ud9y6q8Tn7nUkbsY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{$json.title}}\nDescription: {{$json.description}}\n\nIs this article about sustainability? Return only: true or false\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a classification assistant. \n\nYour role is to analyze the title and description of an article and determine if it is related to sustainability. \n\nYou must only return {\"answer\": true} if the article is clearly related to sustainability (e.g., environmental protection, renewable energy, sustainable development, climate action, green economy, etc.). \n\nIf it is not clearly related, return {\"answer\": false}.\n\nIf the description is empty or missing, rely only on the title. Your response must be only one of the two JSON options: {\"answer\": true} or {\"answer\": false}. Do not provide explanations.\n"
        }
      },
      "id": "fde7d8e1-4124-4506-abb7-8e400ad2729b",
      "name": "Agent Classification",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1980,
        580
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "=",
          "cachedResultUrl": "=",
          "cachedResultName": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "=",
          "cachedResultName": "="
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sustainability",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "670c0877-008f-4943-9a6b-c5e543ae6482",
      "name": "Get Sustainability News",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        700,
        1160
      ],
      "notesInFlow": true,
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPMM0hBnBMYPVzDb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "email@gmail.com",
        "subject": "Your Sustainability News Digest from LogiGreen",
        "message": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ba6605af-5b5f-44d1-b47d-4246c2b999f3",
      "name": "Send to your mailing list",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1060,
        1160
      ],
      "webhookId": "=",
      "notesInFlow": true,
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "CTR8V5nYLmtWUmWb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = `Welcome to the EU Sustainability News Digest provided by <a href=\"https://logi-green.com\" style=\"color: #0077cc; text-decoration: none;\">LogiGreen Consulting</a>.`;\n\nconst articles = items.map(item => item.json);  // each item is an article\n\nlet html = `\n<div style=\"font-family: Arial, sans-serif; max-width: 700px; margin: auto;\">\n  <h2 style=\"color: #2c3e50;\">🌍 EU News Digest – ${new Date().toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' })}</h2>\n  <p style=\"font-size: 16px; color: #333;\">${summary}</p>\n  <hr style=\"border: 1px solid #eee;\" />\n`;\n\nfor (const article of articles) {\n  const link = article.link.startsWith(\"http\") ? article.link : `https://ec.europa.eu${article.link}`;\n  html += `\n    <div style=\"display: flex; margin: 20px 0; border-bottom: 1px solid #ddd; padding-bottom: 15px;\">\n      ${article.image ? `<img src=\"${article.image}\" alt=\"\" width=\"150\" style=\"margin-right: 15px; border-radius: 6px; object-fit: cover;\" />` : ''}\n      <div>\n        <p style=\"margin: 0; font-size: 12px; color: #888;\">${article.type} | ${article.date}</p>\n        <h3 style=\"margin: 5px 0;\">\n          <a href=\"${link}\" style=\"text-decoration: none; color: #0077cc;\">${article.title}</a>\n        </h3>\n        <p style=\"margin: 5px 0; color: #333;\">${article.description || ''}</p>\n        ${article.read_time ? `<p style=\"font-size: 12px; color: gray;\">${article.read_time}</p>` : ''}\n      </div>\n    </div>\n  `;\n}\n\nhtml += `\n  <div style=\"margin-top: 40px; padding-top: 20px; border-top: 1px solid #eee; text-align: center;\">\n    <p style=\"font-size: 12px; color: #999;\">You received this email as part of the EU Sustainability News Digest project.</p>\n    <a href=\"https://logi-green.com\" target=\"_blank\">\n      <img src=\"https://www.logi-green.com/web/image/website/1/logo/LogiGreen%20Consulting?unique=e2af3c6\" alt=\"LogiGreen Consulting Logo\" style=\"height: 40px; margin-top: 10px;\" />\n    </a>\n  </div>\n</div>\n`;\n\n\nreturn [{ json: { email_body: html } }];\n"
      },
      "id": "5d662a41-969a-49d8-a594-f0f962d51350",
      "name": "Generate Email HTML",
      "type": "n8n-nodes-base.code",
      "position": [
        880,
        1160
      ],
      "notesInFlow": true,
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "articles",
        "extractionValues": {
          "values": [
            {
              "key": "type",
              "cssSelector": "ul.ecl-content-block__primary-meta-container li:nth-child(1)"
            },
            {
              "key": "date",
              "cssSelector": "ul.ecl-content-block__primary-meta-container li:nth-child(2) time\t"
            },
            {
              "key": "title",
              "cssSelector": "div.ecl-content-block__title a\t"
            },
            {
              "key": "link",
              "cssSelector": "div.ecl-content-block__title a\t",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "description",
              "cssSelector": "div.ecl-content-block__description p\t"
            },
            {
              "key": "image",
              "cssSelector": "picture img",
              "returnValue": "attribute",
              "attribute": "src"
            },
            {
              "key": "read_time",
              "cssSelector": "ul.ecl-content-block__secondary-meta-container span.ecl-content-block__secondary-meta-label\t"
            }
          ]
        },
        "options": {}
      },
      "id": "378789d8-7b01-40ca-8bd5-96e1d137445d",
      "name": "Parse Article Blocks",
      "type": "n8n-nodes-base.html",
      "position": [
        1320,
        780
      ],
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "articles",
              "cssSelector": "div.ecl-content-item-block__item",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "cf7017a4-b996-452b-8aca-6f37964bd288",
      "name": "Extract Articles Blocks",
      "type": "n8n-nodes-base.html",
      "position": [
        880,
        780
      ],
      "notesInFlow": true,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "d6f27e99-d866-4c27-9e99-5c579f505751",
      "name": "Trigger at 08:30 am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        440,
        780
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://commission.europa.eu/news-and-media/news_en",
        "options": {}
      },
      "id": "1cc2483b-72ca-415d-90fc-a9b3ed0f6de8",
      "name": "Query EU News Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        660,
        780
      ],
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "id": "93bb792d-7979-4b68-a026-df960ea3cd8d",
      "name": "Split Out by Article Block",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1100,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "127662c6-5561-4d35-9ca5-d23b26c223e9",
      "name": "Loop Over Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1760,
        780
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcfc8260-1125-4883-8895-8a5f55d09341",
              "name": "sustainability",
              "type": "string",
              "value": "={{ $json.output.answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "900bb98e-5b83-4e29-81f8-2f04478f9c2e",
      "name": "Sustainability Flag",
      "type": "n8n-nodes-base.set",
      "position": [
        2360,
        580
      ],
      "notesInFlow": true,
      "retryOnFail": false,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combineBySql"
      },
      "id": "a6114158-8842-4cb5-b43b-0c4cb3134e0e",
      "name": "Merge Article + Flag",
      "type": "n8n-nodes-base.merge",
      "position": [
        2580,
        640
      ],
      "notesInFlow": true,
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "=",
          "cachedResultUrl": "=",
          "cachedResultName": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "=",
          "cachedResultName": "="
        },
        "columns": {
          "value": {
            "date": "={{ $json.date }}",
            "link": "={{ $json.link }}",
            "type": "={{ $json.type }}",
            "image": "={{ $json.image }}",
            "title": "={{ $json.title }}",
            "read_time": "={{ $json.read_time }}",
            "description": "={{ $json.description }}",
            "sustainability": "={{ $json.sustainability }}"
          },
          "schema": [
            {
              "id": "sustainability",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "sustainability",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "read_time",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "read_time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "585e6348-9af4-49e8-b30b-605d04921a88",
      "name": "Record Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2800,
        720
      ],
      "notesInFlow": true,
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VPMM0hBnBMYPVzDb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"boolean | null\"\n}\n"
      },
      "id": "78743430-d367-45b9-8d79-72dfdd436e3b",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2240,
        760
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# 1. Workflow Trigger with Cron Job\n",
        "height": 440,
        "width": 220
      },
      "id": "a5bc414c-3a8c-45f2-ae73-9dbe591a9bae",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 4. Generate HTML page and send by email\n",
        "height": 380,
        "width": 620,
        "color": 4
      },
      "id": "a21f729a-2e9d-4c7d-a31c-e68c54ee613e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 2. Scrapping and Parsing of Articles blocks\n",
        "height": 460,
        "width": 900,
        "color": 4
      },
      "id": "5b79acce-0b33-493d-ba90-a93fa6f32fbb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 3. Classifiy all the articles (Sustainability: true or false)\n",
        "height": 460,
        "width": 1440
      },
      "id": "5705f302-1c6e-4a99-a653-f093186787f5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        480
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Results": {
      "main": [
        [
          {
            "node": "Loop Over Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Articles": {
      "main": [
        [],
        [
          {
            "node": "Agent Classification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Article + Flag",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email HTML": {
      "main": [
        [
          {
            "node": "Send to your mailing list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sustainability Flag": {
      "main": [
        [
          {
            "node": "Merge Article + Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger at 08:30 am": {
      "main": [
        [
          {
            "node": "Query EU News Website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Sustainability News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Classification": {
      "main": [
        [
          {
            "node": "Sustainability Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Article + Flag": {
      "main": [
        [
          {
            "node": "Record Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article Blocks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query EU News Website": {
      "main": [
        [
          {
            "node": "Extract Articles Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Articles Blocks": {
      "main": [
        [
          {
            "node": "Split Out by Article Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sustainability News": {
      "main": [
        [
          {
            "node": "Generate Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Classification",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out by Article Block": {
      "main": [
        [
          {
            "node": "Parse Article Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "3684",
    "templateCredsSetupCompleted": true,
    "instanceId": "c68c9c83e90f4ae26c12e0b6dcd74817b9e43423b01a6fb5cb0483b1404b290c"
  },
  "tags": []
}