Check_Which_AI_Models_Are_Used_in_Your_Workflows.json
{
  "name": "Check Which AI Models Are Used in Your Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "b37539b9-c869-4e6b-9bf7-c018aa53b325",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        400,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2e64985-888d-441c-bb64-940de1be2a99",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1060,
        360
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c08b3a3-092d-4f88-81ef-7a7b3acf47b2",
              "name": "node_name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "9b060fdb-f6a6-444a-a28d-deeacb21b3d3",
              "name": "model",
              "type": "string",
              "value": "={{ $json?.parameters?.model?.value || $json?.parameters?.model ||  $json?.parameters?.modelId?.cachedResultName }}"
            },
            {
              "id": "848c0e23-0aa6-4cf5-8a64-abe38351b63a",
              "name": "workflow_name",
              "type": "string",
              "value": "={{ $('Loop Over Items').item.json.name }}"
            },
            {
              "id": "cf3fea4e-4e22-4bd5-930b-6b8d25afbf9a",
              "name": "workflow_id",
              "type": "string",
              "value": "={{ $('Loop Over Items').item.json.id }}"
            },
            {
              "id": "8a8a2a83-d742-4450-b5ed-2089047076d8",
              "name": "workflow_url",
              "type": "string",
              "value": "={Your-n8n-domain}/workflow/{{ $('Loop Over Items').item.json.id }}/{{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1eba6d28-f996-4d94-8aa7-52a8b4f4e316",
      "name": "Edit Fields-set_model_data",
      "type": "n8n-nodes-base.set",
      "position": [
        1740,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1iMh0C-Niu1ko4-u2BHo0cgGeVQKcYHflBzRxtbWJiRI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iMh0C-Niu1ko4-u2BHo0cgGeVQKcYHflBzRxtbWJiRI/edit?usp=drivesdk",
          "cachedResultName": "n8n-check-workflow-use-what-ai-model"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iMh0C-Niu1ko4-u2BHo0cgGeVQKcYHflBzRxtbWJiRI/edit#gid=0",
          "cachedResultName": "data"
        }
      },
      "id": "fa2366fa-991d-482e-aeca-6ed3b27d9015",
      "name": "Google Sheets-Clear Sheet Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        840,
        180
      ],
      "executeOnce": true,
      "typeVersion": 4.5,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "1374f0cf-e0e9-449b-a1db-1ebcf020d6e9",
      "name": "n8n-get all workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        620,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f7433843-53c6-4e77-8f51-c70921342a0f",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.nodes.toJsonString() }}",
              "rightValue": "modelId"
            },
            {
              "id": "8a9ff036-dc80-4b55-919b-e2dba22667cf",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $workflow.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d7e7e74-7095-4b5c-be14-0c773ca0200e",
      "name": "Filter-get workflow contain modelid",
      "type": "n8n-nodes-base.filter",
      "position": [
        840,
        360
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "nodes",
        "options": {}
      },
      "id": "7fe0b80c-b4b2-40e7-804f-96bae83c0d9e",
      "name": "Split Out-nodes",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1240,
        480
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "5c06371f-9bc4-4fdd-bac2-9b9cdc28f77c",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.parameters.modelId.value.toString() }}",
              "rightValue": ""
            },
            {
              "id": "6888c3a4-c988-48a1-aefc-d359f2ffeef5",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.parameters.model.toString() }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "5df56e2a-196f-4bab-b554-afa47876ff5e",
      "name": "Filter-node contain modelId",
      "type": "n8n-nodes-base.filter",
      "position": [
        1460,
        480
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1iMh0C-Niu1ko4-u2BHo0cgGeVQKcYHflBzRxtbWJiRI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iMh0C-Niu1ko4-u2BHo0cgGeVQKcYHflBzRxtbWJiRI/edit?usp=drivesdk",
          "cachedResultName": "n8n-check-workflow-use-what-ai-model"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iMh0C-Niu1ko4-u2BHo0cgGeVQKcYHflBzRxtbWJiRI/edit#gid=0",
          "cachedResultName": "data"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "node_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "node_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "modelId_value",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "modelId_value",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "modelId_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "modelId_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "workflow_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "workflow_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "workflow_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bc0d2e5c-2079-465c-ba49-9342cd3cf89e",
      "name": "Google Sheets-Save node and workflow data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1980,
        480
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "## Change to your n8n domain here\n\n",
        "height": 320,
        "width": 260
      },
      "id": "7b40cbbf-20ac-4ce9-8d9a-cabe3a46dbf0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1660,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Be careful\nif you have more than 100 workflows. It might have performance issue.\n",
        "height": 320,
        "width": 420,
        "color": 3
      },
      "id": "39eaa0a2-1bf4-4032-a56a-dc1a16b3fe02",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\nAn engineer now focus on AI and Automation\n\n### contact me with following:\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n[Website](https://www.darrelltw.com/)",
        "height": 240,
        "width": 340,
        "color": 7
      },
      "id": "9f946628-3ab9-4e51-bf39-c56c6a13950b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -40
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n-get all workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Split Out-nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields-set_model_data": {
      "main": [
        [
          {
            "node": "Google Sheets-Save node and workflow data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n-get all workflow": {
      "main": [
        [
          {
            "node": "Filter-get workflow contain modelid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets-Clear Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter-get workflow contain modelid": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out-nodes": {
      "main": [
        [
          {
            "node": "Filter-node contain modelId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter-node contain modelId": {
      "main": [
        [
          {
            "node": "Edit Fields-set_model_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets-Save node and workflow data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44ab3648-0edd-432b-9c17-81704de2d4a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "402b1b975df4b5edf692af4f00b1a88a27528c657bdf47d8f3ac83d12c88a3bc"
  },
  "id": "CTxJVEZjGOnGq8Ji",
  "tags": []
}