Telegram_AI_Chatbot.json
{
  "name": "Telegram AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "4f906091-5394-4177-84c6-7af5569696bc",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -2700,
        240
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "=/image ",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "3db19f13-2ead-419a-9c3b-541176188e80",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1740,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "edb4a494-f4f8-4d36-a802-4ee6d5469c91",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b7dd63e-7b05-432e-8be5-ff9747d057d7",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -2340,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "fb0b22c1-06ff-4b68-825e-f88ae1d8abc0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1480,
        -340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "72bf0948-175a-4e47-93b8-af3ab2666f8b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1480,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "df0a86d7-2a05-490f-93f4-7cf1517f76eb",
      "name": "Chat_mode",
      "type": "n8n-nodes-base.openAi",
      "position": [
        -1380,
        -260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "17e30225-7c22-4437-abb6-978c506da380",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [
        -1380,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "0496bcd2-dc31-4765-b446-8db924b7644b",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1020,
        -140
      ],
      "typeVersion": 1,
      "webhookId": "a37d31f1-2fd5-4e63-9c01-5b5f776949ff"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "080473ef-e1bb-4a5a-9ab0-b00489f58d5b",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -2140,
        380
      ],
      "typeVersion": 1,
      "webhookId": "f3799025-f350-4518-afdd-0dc42d36d0e3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "f98ae3f6-eaee-45b2-8daa-35e60d864e37",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1920,
        260
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "07518055-ef85-436c-8a84-ce1ba2415584",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1480,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "512x512"
        },
        "requestOptions": {}
      },
      "id": "478fbb9f-0776-4ae6-9834-2c445cf3cfef",
      "name": "Create an image",
      "type": "n8n-nodes-base.openAi",
      "position": [
        -1380,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ecb14314-05fc-4aa2-9fc1-22622be9a5c8",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1020,
        560
      ],
      "typeVersion": 1,
      "webhookId": "76a27e59-1450-42ec-b83e-84af8072e8c7"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "fd65190a-f19d-4e51-b285-5aa818e37793",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1020,
        260
      ],
      "typeVersion": 1,
      "webhookId": "0f92df70-bf5c-4f09-9002-44cdd937da27"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "03371a40-1f98-428e-a276-63cc92eaa0b7",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -2520,
        240
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Chat_mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_mode": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "82395725-4dcc-4d13-93b5-915695f1d491",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "402b1b975df4b5edf692af4f00b1a88a27528c657bdf47d8f3ac83d12c88a3bc"
  },
  "id": "CTxJVEZjGOnGq8Ji",
  "tags": []
}