Update_Hubspot_engagement_by_parsing_inbox_mail_with_AI (1).json
{
  "name": "Update Hubspot engagement by parsing inbox mail with AI",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "type": "email",
        "metadata": {
          "fromEmail": "={{ $('When an email is received').item.json.from }}",
          "html": "={{ $('When an email is received').item.json.textHtml || $('When an email is received').item.json.textPlain}}",
          "subject": "={{ $('When an email is received').item.json.subject }}",
          "toEmail": [
            "={{ $('When an email is received').item.json.to }}"
          ]
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json.vid }}"
          }
        }
      },
      "id": "a8dbf1eb-6043-4cc6-baf5-bf81afd3b58c",
      "name": "Creates an email engagement",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1700,
        160
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "188a8336-1b06-4cca-b5d0-99fd832d78a7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        640,
        380
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.output.contact_info.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "f5e4ec7c-9bbc-44a0-8f39-2548f13d09ea",
      "name": "Search for the contact via email",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1040,
        160
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "f7eb62cd-b364-46e8-a2e2-def098c93868",
      "name": "Parse the mail with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        660,
        160
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "options": {
          "forceReconnect": 3
        }
      },
      "id": "854862ed-9f84-47cd-95f8-057464f24dcc",
      "name": "When an email is received",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        440,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Set receiving email account\n- Ddefaults to an IMAP account node, but you can put a gmail account or any  email trigger",
        "height": 300,
        "width": 280,
        "color": 4
      },
      "id": "ed191903-d1f3-4c21-a0d0-d37b89fc939a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"contact_info\": \n{\n\"first name\": \n\"Thomas\",\n\"last name\": \"Vie\",\n\"position\": \n\"CTO\",\n\"company\": \n\"Pollup Data Services\",\n\"email\": \n\"Thomas@pollup.net\",\n\"phone\": \n\"+34 673626552\",\n\"website\": \n\"https://pollup.net\",\n\"address\": \n{\n\"street\": \n\"Oppelner Str. 32\",\n\"postal_code\": \n\"10997\",\n\"city\": \n\"Berlin\",\n\"country\": \n\"Germany\"\n}}}"
      },
      "id": "f0815744-cda6-4bd4-ac49-5d12dd6eb16a",
      "name": "Set the output Json",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        860,
        380
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Upgrade the prompt!\nThis is a very simple prompt but oit does the job. Improve it and send it to me!",
        "height": 300,
        "width": 320,
        "color": 4
      },
      "id": "53efd265-535d-42fa-ae85-f96568f15c79",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Hubspot integration\n- Search for the contact in hubspot\n- If it is present creates an egagement\n- It it is not, creates it and adds an engagement",
        "height": 400,
        "width": 840,
        "color": 4
      },
      "id": "60340d9a-aa76-4363-ad56-4ce8e8420e61",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "554c2aa3-dbdb-4955-8510-6b09bc762f63",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "32e09593-6136-4c9b-b6e9-8aa9995bd9eb",
      "name": "contact exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        1260,
        160
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75c8fc2d-dc8e-4b6c-a853-1dbd8d72f779",
              "name": "vid",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "190463ac-8133-4497-98d3-a2b7845ace63",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1480,
        60
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Parse the mail with AI').item.json.output.contact_info.email }}",
        "additionalFields": {
          "city": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.city }}",
          "companyName": "={{ $('Parse the mail with AI').item.json.output.contact_info.company }}",
          "country": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.country }}",
          "jobTitle": "={{ $('Parse the mail with AI').item.json.output.contact_info.position }}",
          "lastName": "={{ $('Parse the mail with AI').item.json.output.contact_info['last name'] }}",
          "phoneNumber": "={{ $('Parse the mail with AI').item.json.output.contact_info.phone }}",
          "postalCode": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.postal_code }}",
          "streetAddress": "={{ $('Parse the mail with AI').item.json.output.contact_info.address.street }}",
          "websiteUrl": "={{ $('Parse the mail with AI').item.json.output.contact_info.website }}"
        },
        "options": {}
      },
      "id": "ff50f410-d863-4b50-9e87-74483de6fc23",
      "name": "Creates contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1480,
        260
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Contact me\n- If you need any modification to this workflow\n- if you need some help with this workflow\n- Or if you need any workflow in n8n, Make, or Langchain / Langgraph\n\nWrite to me: [thomas@pollup.net](mailto:thomas@pollup.net)",
        "height": 200,
        "width": 460
      },
      "id": "01d14a03-60d7-4f5f-9b14-ebea88a2026c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        -200
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Search for the contact via email": {
      "main": [
        [
          {
            "node": "contact exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact exists?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creates contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Creates an email engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates contact": {
      "main": [
        [
          {
            "node": "Creates an email engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94b4d08f-384f-4bee-8d84-a510af212465",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "402b1b975df4b5edf692af4f00b1a88a27528c657bdf47d8f3ac83d12c88a3bc"
  },
  "id": "CTxJVEZjGOnGq8Ji",
  "tags": []
}